/*General*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --main-red: #f42;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

h2,
h3,
h4,
.title {
  font-family: 'Baloo Chettan 2', 'Roboto', 'Helvetica', Arial, sans-serif;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: -.075rem;
  color: var(--main-red);
  margin: 1em 0;
}

.category,
.header {
  font-family: 'Abel', 'Roboto', 'Helvetica', Arial, sans-serif;
}

.details {
  font-family: 'Arial';
  font-size: 10px;
  color: #aaa;
}

/*Header*/

.header {
  position: fixed;
  top: 0;
  display: grid;
  grid-template: repeat(2, auto) / 100px auto;
  width: 100%;
  background: #fff;
  
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  width: 100px;
  padding: 1em;
  background-color: var(--main-red);
  background: linear-gradient(to bottom right, #c09, var(--main-red) 85%)
}

.header ul {
  display: flex;
  color: #AAA;
}

.header ul li {
  padding: 0 1em;
}

.header a {
  color: #AAA;
}

.nav__right {
  border-left: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1em;
}

.nav__right button {
  background: #0CC;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  font-weight: bold;
  padding: .75em 1em;
}

.fa-search {
  padding: 0 1em;
}

.countdown {
  padding: 0 1em;
  color: #f42;
  font-weight: bold;
  font-size: 1.25em;
}

.event_logo {
  height: 50px;
}

.header > div {
  grid-column: 1/ -1;
  background-color: #fd3;
  padding: .75em 10em;
  font-size: .75em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*Main*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em .75em;
}

section:not(:first-child) {
  max-width: 1140px;
}

  /*Section 1 : Headlines*/

.headlines ul {
  display: grid;
  grid-template: repeat(2, 30vh) / repeat(3, 1fr);
  grid-gap: 10px;
}

.headlines a {
  padding: 1.5em;
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.category,
.title {
  color: #fff;
}

.headlines ul li a {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  background-size: cover;
}

    /*1st headline*/

.headlines ul li:first-child .title {
  font-size: 3rem;
  line-height: 3rem;
}

.headlines ul li:first-child {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.65), rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/1.png');
}

.headlines ul li:first-child a {
  grid-template-rows: 1fr repeat(3, auto);
}

.headline .details {
  color: rgba(255, 255, 255, .8);
}

.headline__date {
  justify-self: end;
}

    /*2nd headline*/

.headlines ul li:nth-child(2) {
  background: url('assets/2.jpg');
  background-position: 50% 25%;
} 

.headlines ul li:nth-child(2) a {
  align-items: end;
}

    /*3rd headline*/

.headlines ul li:nth-child(3) a {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/3.png');
  background-position-x: 45%;
  grid-template-rows: 1fr repeat(2, auto);
  align-items: end;
}  

  /*Section 2 : Latest news*/

.latest_news ul {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  max-width: 100%;
  grid-gap: 25px;
} 

.latest_news img {
  width: 100%;
}

.latest_news h3 {
  color: #000;
  line-height: 18px;
  margin: .5em 0;
}

.latest_news .details {
  font-size: .75rem;
}

  /*Section 3 : Latest funding*/

.latest_funding header,
.latest_funding header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest_funding header ul li {
  color: var(--main-red);
  padding: 0 .75rem;
  border-left: 1px solid var(--main-red);
}

.latest_funding header ul li:first-child {
  border-left: none;
}

.latest_funding > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.latest_funding > ul li {
  background: #fffaf8;
}

.latest_funding > ul li img {
  grid-row: 1 / span 2;
}

.latest_funding img {
  float: left;
  width: 90px;
  padding: .85rem;
}

h4 {
  background-color: var(--main-red);
  color: white;
  padding: .75rem;
  font-size: 1.15rem;
}

.funding__amount {
  background: #ffebe7;
  padding: 1rem 0;
}

.amount {
  font-weight:bold;
}

.serie {
  font-family: 'Abel', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: .75rem;
  color: rgb(90, 90, 90);
}

.funding__stats,
.funding__description {
  clear: left;
  background: #fffaf8;
  font-size: .85rem;
  line-height: 1.25rem;
  padding: 1rem;
}

.funding__stats {
  border-bottom: 1px solid #ffcdc2;
}

  /*Section 4 : Categories*/

.latest_categories {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, 1fr);
  grid-gap: 25px;
}

  /*Most popular*/
.most_popular {
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-items: end;
  padding: 1rem;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

  /*Latest*/
.latest {
  color: var(--main-red);
  background-color: #fff4f2;
  display: grid;
  grid-template : repeat(2, auto) / 2fr .75fr;
  height: 100px;
}

.latest a:nth-of-type(2) {
  grid-row: 1 / span 2;
  grid-column: 2;
  height: 100%;
}

.latest img {
  height: 100%;
  object-fit: cover;
}


.latest .category {
  align-self: end;
  padding: .75rem 1rem 0 1rem;
}

.latest a,
.latest_deals header a,
.latest .category {
  color: var(--main-red);
}

.latest a:first-of-type {
  padding: .5rem 1rem 1rem 1rem;
}

  /*Other articles*/


.articles li {
  list-style-image: url('assets/dot.png');
  list-style-type: square;
  margin-left: 1rem;
  padding: .75rem 0;
  border-bottom: 1px solid #eee;
}

.articles a {
  font-size: .85rem;
  color: #555;
  text-align: justify;
}

  /*Most Popular Images*/

.hard_fork .most_popular {
  background-image: linear-gradient(transparent, #000), url('assets/16.jpg');
}  

.apps .most_popular {
  background-image: url('assets/17.png');
}

.gear .most_popular {
  background-image: url('assets/18.png');
}

.tech .most_popular {
  background-image: url('assets/7.jpg');
}

.creative .most_popular {
  background-image: url('assets/21.png');
}

.podium .most_popular {
  background-image: url('assets/23.jpg');
}

.insights .most_popular {
  background-image: url('assets/25.jpg');
}

.launch .most_popular {
  background-image: url('assets/26.png');
}

.distract .most_popular {
  background-image: url('assets/27.jpg');
}


/*Section 5 : Latest Deals*/

.latest_deals ul {
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
}

.latest_deals header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest_deals h3 {
  margin: .75rem 0;
}

.prices {
  display: flex;
  align-items: baseline;
  color: #555;
}

.price_before {
  color: #aaa;
  text-decoration: line-through;
  margin-right: .5rem;
  font-size: .75rem;
}

/*Footer*/

footer {
  background: #131313;
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer li {
  margin: 0 .5rem;
}

.social li {
  border-radius: 50%;
  background: #333;
  padding: .75rem;
}

.social li i {
  width: 15px;
  height: 15px;
}

.links a,
.terms {
  color: #a3a3a3;
  font-family: 'Abel', 'Roboto', Arial, Helvetica, sans-serif;
}

.terms {
  padding: 1rem;
  background-color: #000;
  width: 100%;
  text-align: center;
}
